# Files
*.zip
*.bak
*.back
*.new
*.log
CLAUDE.md
AGENTS.md
.mcp.json
.continuerules
*.json.*

# Dirs
Chrome.bak/
Chrome_changes/
.claude/
.claude/**
.docs/
.docs/**
.aimem/
.vscode/
.issues/

# Test and dependencies
node_modules/
coverage/
