# Files
*.zip
*.bak
*.back
*.new
.vscode/
*.log
CLAUDE.md
.mcp.json
.continuerules
*.json.*

# Dirs
Chrome.bak/
Chrome_changes/
.claude/
.claude/**
.docs/
.docs/**

# Test and dependencies
node_modules/
coverage/
