.dialog-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.dialog-title {
    text-align: center;
}

.dialog-body {
    display: grid;
    gap: 1rem;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.checkbox-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.dialog-buttons {
    text-align: right;
}

dialog label {
    min-width: 50px;
    font-size: 14px;
}

dialog input[type="checkbox"]{
    height: 20px;
    width: 20px;
}

dialog menu {
    padding: 15px 0;
}

dialog input[type="text"]{
    padding: 0 10px;
    margin-top: 10px;
}

dialog h2{
    text-transform: capitalize;
}

@media (min-width: 600px) {
    .dialog-container {
        grid-template-columns: 1fr 1fr 1fr;
        align-items: start;
    }

    .dialog-title {
        grid-column: 1 / span 3;
        text-align: left;
    }

    .dialog-body {
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .dialog-buttons {
        grid-column: 3;
        text-align: right;
        display: flex;
        align-items: start;
        justify-content: flex-end;
        gap: 0.5rem;
    }
}
