body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 400px;
    width: 60%;
}

.advance-settings-title{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.advance-settings-container{
    display: block;
}

.el-holder {
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 15px;
}

.el-holder textarea {
    grid-column: 1 / -1;
}

.el-holder label + textarea {
    order: 0;
}

label {
    margin: 0;
    min-width: 120px
}

.model-icon-button{
    width: 24px;
    height: auto;
    cursor: pointer;
}

.model-icon-button:hover{
    background-color: #ddd;
    border: 1px solid #aaa;
}

.fold-icon-button{
    width: 16px !important;
}

.icon-button{
    width: 32px;
    height: auto;
}

.url {
    width: 500px;
    height: 30px;
}

input[type="checkbox"] {
    width: auto;
}

/* extension */
.ext-container{
    position: relative;
    display: flex;
    /* background-color: #e8e8e8; */
    border: 1px solid #ccc;
    border-radius: 7px;
    margin: 25px 0;
    padding: 5px;
    justify-content: space-between;
    flex-direction: row;
}

.ext-container button{
    background-color: #ddd;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    box-shadow: 0px 0px 10px gray;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

#cancelButton {
    background-color: #f44336;
    color: white;
}

.message-box{
    padding: 1rem 0.5rem;
    margin: 1rem 0 0 0;
}

.success {
    background-color: #73ff27;
}

.error {
    background-color: #fb6666;
}

.info {
    background-color: #d9d6d6;
}

.warning {
    background-color: #ffa66e;
}

.invisible {
    display: none;
}

/* tooltips */
.tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltip-text {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 1%;
    margin-left: -60px;
    display: inline-block;
    width: 250px;
    text-align: left;
  }

  .tooltip:hover .tooltip-text {
    visibility: visible;
  }

  .info-circle {
    background-color: #e8e8e8;
    border-radius: 50%;
    padding: 5px;
    margin-left: 5px;
    font-size: 16px;
  }

.loading{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    animation: spin 1.75s linear infinite;
    width: 100px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.lai-copy-hint {
    position: fixed;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.5s linear;
    pointer-events: none;
}