/* Ribbon */
.ribbon-sections {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-grow: 1;
}

.rib-section {
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.temp-range{
    width: 45px;
    font-size: .9rem;
}

.temp-range-wrapper::after {
    content: "🌡";
    display: inline-block;
    margin-left: -2px;
}

.rib-section.left {
    justify-content: flex-start;
    padding-left: 16px;
    gap: 15px;
}

.rib-cog-menu-container {
    background-color: #fff;
    position: absolute;
    display: block;
    border: 1px solid #bbb;
    padding: 5px 15px;
    opacity: 1;
    top: 28px;
    left: 20px;
    cursor: pointer;
    z-index: 100;
    width: 250px;
}

.rib-cog-menu-container select {
    min-width: 125px;
    color: #000;
    width: 100%;
}

.rib-cog-menu-container select:has(option:first-child:checked) {
    color: #bbb;
}

.cog-menu-item {
    position: relative;
    margin-left: 5px;
    min-width: 125px;
    height: 25px;
    align-content: center;
}

.cog-menu-item:hover {
    background-color: #eee;
}

.rib-section.right {
    padding-right: 16px;
    justify-content: flex-end;
}

.rib-section.center {
    justify-content: space-evenly;
}

.lai-ribbon {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #efefef;
    height: 100%;
    min-height: 85px;
}

.ribbon-label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: .75rem;
    padding: 0 1rem;
    text-wrap: nowrap;
    z-index: 99;
    transition: top, font-size .5s ease;
}

.ribbon-label:hover {
    font-size: 1.2rem !important;
    white-space: nowrap;
    border: 1px solid gray;
    background-color: #FFE;
}

.available-model-list {
    display: block;
    border: 1px solid #999;
    position: absolute;
    top: 23px;
    padding: 5px 15px;
    line-height: 25px;
    background-color: #ffe;
    z-index: 100;
}

.available-model-list div {
    padding: 0 5px;
}

.available-model-list div:hover {
    cursor: pointer;
    background-color: #eee;
}

.version {
    bottom: -8px;
    background-color: #ffe;
    border: 1px solid #888;
}

.version:hover {
    bottom: -5px;
}

.lai-model {
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
}

.model-label-container{
    top: -8px;
    display: flex;
    align-items: center;
}

.model-label-container img{
    width: 12px !important;
    height: auto;
    display: inline-block;
    transition: transform 0.3s ease;
    vertical-align: top;
}

.model-label-container:hover img{
    width: 20px !important;
    padding-top: 2px;
}

.model-label-container.open img{
    width: 20px !important;
    transform: rotate(-90deg);
}

.lai-model:hover {
    top: 0px;
}

.lai-ribbon-pin-button,
.ai-wrench-button-img {
    position: relative;
    padding: 0 1rem;
    cursor: pointer;
}

.lai-ribbon img {
    width: auto;
    height: 22px;
    cursor: pointer;
}

.lai-cog-menu-button {
    font-weight: bold;
}

.disabled{
    opacity: 0.25;
}